
<div class="container my-4 fs-5">
    <h1 class="text-center"><u style="text-underline-offset: 7px; text-decoration-thickness: 3px;">About Us</u></h1>
    <div class="row align-items-center my-4">
        <div class="col-lg-4">
            <img src="images/book-stack.png" alt="Books" width="100%">
        </div>
        <div class="col-lg-8">
            <p>Welcome to My Online Bookstore, your one-stop destination for all things books! We are passionate about literature and strive to bring you a wide selection of books across various genres.
            Whether you're looking for classic novels, contemporary bestsellers, or niche literature, we've got you covered. If you're a book lover, isn't it a nice thing?</p> <br>
            <p>Our mission is to provide an exceptional online shopping experience with easy navigation, secure transactions, and prompt delivery. We believe in fostering a community of readers and
            book lovers, where everyone can find their next favorite read.</p> <br>
            <p>Explore our curated collections, browse through our featured books, and enjoy personalized recommendations based on your interests. We are committed to serving you with the best in 
            books and customer service.</p>
        </div>
    </div> 
</div>